*~
Makefile
config.*
configure
autom4te.cache
core.*
bin/tds_test
test/tds_test
# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
