*~
Makefile
config.*
configure
autom4te.cache
core.*
tds_test
lob
lobmng

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
